<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Stuff</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars!</a></p>
      <p><a class="btn btn-primary btn-lg" href="/clear" role="button">Clear Results</a></p>
    </div>

    <div class = "row" id = "mars-news">
      <div class = "col-md-12">
        <h2>Recent Mars News</h2>
        <h4>{{listings.title_feature}}</h4>
        <p>{{listings.summary_feature}}</p>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-8">
        <h2>Featured Image</h2>
        <img src = "{{listings.feature_image}}" class = "img-responsive" alt = "Image">
      </div>
    </div>

    <div class = "row" id = "mars-facts">
      <div class = "col-md-12">
        <h4>Facts of Mars</h4>
        <link rel="import" href=".mars_facts.html">
      </div>
    </div>

    <div class = "row" style = "margin-top:80px;">
      <h2 class = "text-center">Mars Hemispheres</h2>
    </div>

    {% for hemisphere in listings.hemisphere %}
    <div class = "col-md-6">
      <div class = "thumbnail">
        <img src = "{{listings.hemisphere}}" alt = "help">
      </div>
    </div>
    {% endfor %}



    </div>





  </div>
</body>

</html>